<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAP-FYQ · Física y Química</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>GAP · Física y Química</h1>
        <p>Sistema de ejercicios para Secundaria y Bachillerato (Andalucía)</p>
    </header>

    <main>
        <p>Infraestructura inicializada correctamente.</p>
    </main>
</body>
</html>
